In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Create a DataFrame for China DDP data. 
chinagdp_df = pd.read_csv("gdp/gdp.csv")
chinagdp_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.300000,5.700001,2.100000,1.999999,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.014183,1.972652,4.308370,3.986754,2.925591,2.019391,2.542298,2.475272,2.077898,-2.939186
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848719,3.770212,7.272501,5.396356,4.049794,...,4.848351,5.142964,6.104241,5.927350,2.745937,0.127595,2.318042,2.952230,3.190336,-0.884981
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471976,8.542188,4.954545,4.822628,0.943572,-2.580050,-0.147213,-2.003630,-0.624644,-5.399987

In [4]:
# Create a DataFrame for China population data. 
chinapopulation_df = pd.read_csv("population/population.csv")
chinapopulation_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55434.0,56234.0,56699.0,57029.0,57357.0,...,102050.0,102565.0,103165.0,103776.0,104339.0,104865.0,105361.0,105846.0,106310.0,106766.0
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.0,134159786.0,137614644.0,141202036.0,144920186.0,148769974.0,...,532760424.0,547482863.0,562601578.0,578075373.0,593871847.0,609978946.0,626392880.0,643090131.0,660046272.0,677243299.0
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.0,9169406.0,9351442.0,9543200.0,9744772.0,9956318.0,...,30117411.0,31161378.0,32269592.0,33370804.0,34413603.0,35383028.0,36296111.0,37171922.0,38041757.0,38928341.0
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.0,98407221.0,100506960.0,102691339.0,104953470.0,107289875.0,...,360285439.0,370243017.0,380437896.0,390882979.0,401586651.0,412551299.0,423769930.0,435229381.0,446911598.0,458803476.0
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.0,5531451.0,5608499.0,5679409.0,5734995.0,5770573.0,...,24220660.0,25107925.0,26015786.0,26941773.0,27884380.0,28842482.0,29816769.0,30809787.0,31825299.0,32866268.0

In [5]:
# Create a DataFrame for China urbanization data. 
chinaurbanization_df = pd.read_csv("urbanization/urbanization.csv")
chinaurbanization_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Urban population,SP.URB.TOTL,27525.0,28139.0,28537.0,28763.0,28922.0,29080.0,...,43820.0,44059.0,44351.0,44666.0,44978.0,45293.0,45614.0,45949.0,46294.0,46654.0
1,Africa Eastern and Southern,AFE,Urban population,SP.URB.TOTL,19239140.0,20049454.0,20897622.0,21807831.0,22780115.0,23806156.0,...,173901249.0,181061819.0,188513993.0,196270604.0,204322110.0,212669776.0,221319466.0,230276235.0,239539517.0,249112475.0
2,Afghanistan,AFG,Urban population,SP.URB.TOTL,755835.0,796271.0,839385.0,885227.0,934134.0,986074.0,...,7212518.0,7528589.0,7865068.0,8204880.0,8535606.0,8852834.0,9164768.0,9476982.0,9797274.0,10131490.0
3,Africa Western and Central,AFW,Urban population,SP.URB.TOTL,14141671.0,14813809.0,15527606.0,16290977.0,17102150.0,17961784.0,...,152273428.0,158838089.0,165607296.0,172602709.0,179836016.0,187305752.0,195016097.0,202961117.0,211133789.0,219531155.0
4,Angola,AGO,Urban population,SP.URB.TOTL,569223.0,597286.0,628376.0,660175.0,691526.0,721552.0,...,14660281.0,15383123.0,16130308.0,16900844.0,17691524.0,18502164.0,19332895.0,20184724.0,21061028.0,21962884.0